{% extends 'base.html.twig' %}

{% block title %}{% trans %}main.home{% endtrans %} - onRuntime Studio{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div id="home" class="content container">
            <div class="row">
                <div class="col-md-8 content-left">
                    <h1>{% trans %}home.whoarewe{% endtrans %}</h1>
                    <div class="row">
                        <div class="col-md-7">
                            <p>
                                {% trans %}main.description{% endtrans %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 content-right">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email"
                                   placeholder="{% trans %}home.contact.emailorphone{% endtrans %}">
                        </div>
                        <div class="form-group">
                        <textarea class="form-control" id="message" rows="5"
                                  placeholder="{% trans %}home.contact.message{% endtrans %}"></textarea>
                        </div>
                        <button type="submit" class="btn">{% trans %}home.contact.send{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
