{% extends 'base.html.twig' %}

{% block title %}{% trans %}main.home{% endtrans %}{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div id="home" class="content container">
            <div class="row">
                <div class="col-md-8 content-left">
                    <h1>{% trans %}home.whoarewe{% endtrans %}</h1>
                    <div class="row">
                        <div class="col-md-7">
                            <p>
                                {% trans %}main.description{% endtrans %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 content-right d-flex flex-column align-items-center">
                    <a target="_blank" href="https://discord.gg/nFmZX8Z" class="btn btn-discord">Discord</a>
                    <a target="_blank" href="https://twitter.com/onRuntime" class="btn btn-twitter">Twitter</a>
                    <a target="_blank" href="https://instagram.com/onruntime" class="btn btn-instagram">Instagram</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
